/* 
font-family: 'Londrina Solid', cursive; 
Weights: 300, 400, 900)
*/

:root {
    --space-cadet: #2A273C;
    --firebrick: #AC2E22;
    --windsor-tan: #AA5900;
    --royal-purple: #734EB8;
    --wisteria: #BA9DDC;
    --pacific-blue: #40A0B6;
    --space-cadet-2: #1B2F60;
    --misty-moss: #B1B875;
}

/* Global Styles  */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

html {
        background-image: url('https://previews.123rf.com/images/skathi/skathi1610/skathi161000104/63637431-vector-hand-drawn-pop-art-monochrome-fast-food-pattern-illustration-of-burger-chicken-legs-and-hot-d.jpg');
        background-attachment: fixed;
        background-size: 50%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Londrina Solid';
}

main {
    width: 80%;
    margin: 20px auto;
    background-color: white;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

h3 {
    font-weight: 400;
}

p, li {
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 400;
}

li {
    margin: 1% auto;
}

/* Accents */

.accent1 {
    background-color: var(--pacific-blue);
}

.accent2 {
    background-color: var(--windsor-tan);
}

/* Header Styles  */

.title {
    margin: 0;
    padding: .5rem;
    text-align: center;
}

.stroke {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--misty-moss);
    -webkit-text-fill-color: var(--pacific-blue);
    letter-spacing: 6px;
}

/* Container */

.section-container {
    padding: 1rem;
}

.center {
    width: 100%;
    margin: 0 auto;
}

/* Image Div Styles  */

.img-caption {
    color: white;
    padding: 1em;
}

/* Tribute Styles  */


/* Meet the Gang Styles  */


.profile {
    margin: 1em;
    background-color: #D1ECEA;
    padding: 1em;
    display: flex;
    border-radius: 5px;
}

.profile-img-container {
    /* width: 15.625rem; */
    height: 100%;
}
.profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    
}

.profile-content {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.profile-name {
    font-size: 1.75rem;
}

.profile-bio {
    margin-top: 20px;
    font-size: 1.25rem;
    max-width: 60ch;
}

/* Footer Styles  */

footer {
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 770px) {

    html {
        background-image: none;
    }

    main {
        width: 100%;
        margin: 0;
    }

    .profile {
        flex-direction: column;
        text-align: center;
    }
}
